.home
    display: flex
    flex-direction: row
    flex-wrap: wrap
    width: 100%
    margin-top: 5rem
    .container
        display: flex
        flex-direction: row
        flex-wrap: wrap
        width: 100%
        padding: 2rem
        margin: 0
        .movie
            width: 20%
            @media screen and (max-width: 600px)
                width: 100%
                padding: 0
